PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>
FRONTEND_ORIGIN=http://localhost:3000
JWT_SECRET=your_jwt_secret_placeholder
GEMINI_API_KEY=your_gemini_api_key_placeholder
GOOGLE_CLIENT_ID=your_google_client_id_placeholder
GOOGLE_CLIENT_SECRET=your_google_client_secret_placeholder
